<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>PCM - Produtos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <main class="container">
        <header class="page-header">
            <a
    class="button-primary"
    href="{{ url_for('cadastrar_produto_web') }}"
>
    + Cadastrar produto
</a>
            <div>
                <small>GESTÃO DE PRODUTOS</small>
                <h1>Product Catalog Manager</h1>
                <p>Controle seus produtos e estoques.</p>
            </div>

            <span class="status">● Sistema online</span>
        </header>

        <section class="product-grid">
    {% for produto in produtos %}
        <article class="product-card">
            <div class="product-header">
                <div>
                    <h2>{{ produto["nome"] }}</h2>
                    <p>SKU: {{ produto.get("sku", "Não informado") }}</p>
                </div>

                <span class="stock-badge">
                    {{ produto["estoque"] }} unidades
                </span>
            </div>

            <div class="info">
                <div>
                    <span>Categoria</span><br>
                    <strong>{{ produto["categoria"] }}</strong>
                </div>

                <div>
                    <span>Preço de custo</span><br>
                    <strong>{{ produto["preco_custo"] | brl }}</strong>
                </div>

                <div>
                    <span>Preço de venda</span><br>
                    <strong>{{ produto["preco_venda"] | brl }}</strong>
                </div>

                <div>
                    <span>Lucro</span><br>
                    <strong>{{ produto["lucro"] | brl }}</strong>
                </div>
            </div>

            {% if produto["possui_variacao"] %}
                <div class="variacoes">
                    <h3>Variações</h3>

                    {% for variacao in produto["variacoes"] %}
                        <div class="variacao">
                            <span>{{ variacao }}</span>
                            <strong>
                                {{ produto["estoques_variacoes"][variacao] }}
                                unidades
                            </strong>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>Este produto não possui variações.</p>
            {% endif %}

            <div class="acoes-produto">
    <a
        href="{{ url_for('editar_produto_web', indice=loop.index0) }}"
        class="botao-editar"
    >
        Editar
    </a>

    <form
        action="{{ url_for('excluir_produto_web', indice=loop.index0) }}"
        method="POST"
        onsubmit="return confirm('Tem certeza que deseja excluir este produto?');"
    >
        <button type="submit" class="botao-excluir">
            Excluir
        </button>
            </form>
    </div>
</article>
{% endfor %}
</section>